name: Build || Push || Deploy Cloud 

on:
  push:
    branches:
      - main
env:
  PROJECT_ID: heptastack
  REGION: us-central1
  SERVICE: next-temp
  #GAR_LOCATION: us-central1-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{env.SERVICE}}/

jobs:
  build-and-push:
    name: Build && Push && Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Docker image tag
        id: set_tag
        run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Use gcloud CLI'
        run: 'gcloud auth list --filter=status:ACTIVE --format="value(account)"'

      
      - name: Login to GAR
        uses: docker/login-action@v3
        with:
          registry: ${{SERVICE}}-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Build Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/service/${{env.SERVICE}}:${{ steps.set_tag.outputs.tag }} -f Dockerfile .
      
      - name: Push Docker image to Artifact Registry
        run: |
          docker push us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/service/${{env.SERVICE}}:${{ steps.set_tag.outputs.tag }}
      
      - name: Deploy to Cloud Run
        run: gcloud run deploy chain-service --image us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{env.SERVICE}}:${{ steps.set_tag.outputs.tag }}  \
             --platform managed --region us-central1 --concurrency 1 \
             --min-instances 1 --max-instances 1 \
             --vpc-connector=redis-connector \
             --set-secrets=LOG_LEVEL=LOG_LEVEL:latest,CLIENT_ID=CLIENT_ID:latest,CLIENT_SECRET=CLIENT_SECRET:latest,ENOKI_KEY=ENOKI_KEY:latest,ENOKI_ZKPROOF_URL=ENOKI_ZKPROOF_URL:latest,ENOKI_ZKLOGIN_URL=ENOKI_ZKLOGIN_URL:latest,SHINAMI_KEY=SHINAMI_KEY:latest,SMARTCONTRACT_KEY=SMARTCONTRACT_KEY:latest